<p-dialog [style]="{'min-width':'500px', 'overflow':'visible'}" [header]="'Article'" (onHide)="fecharModal()" [(visible)]="modalVisible">
  <div class="container-card">
    <img src="{{data.imageUrl}}" alt="">
    <div>
      <div>
        <h2>
          {{data.title}}
        </h2>
        <span>{{data.publishedAt | date:'dd/MM/yyyy'}}</span>
      </div>
      <div>
        {{data.summary}}
      </div>
    </div>
  </div>
  <div class="container-button">
    <button pButton type="button" label="Ir para o site" (click)="navSite()"></button>
  </div>
</p-dialog>
